# venv
.env
venv/

# dataset files
**/dataset.jsonl

**/HuggingFace/

**/wandb/

# model files
**/model.safetensors
**/*.safetensors
*.safetensors
**/training_args.bin
**/tokenizer.json
**/optimizer.pt
**/scheduler.pt
*.tmp
**/rng_state.pth
**/scaler.pt
**/*.pt

# pychache
__pycache__/
*.pyc
*.pyo

**/.DS_Store

# experimental target group prompts
**/target_group_prompts.json